<%- include("partials/navbar.ejs") %> <br>
<form action="/clientes/update" method="post">
    <input type="hidden" name="id" value="<%= cliente.id %>">
    <label>Nome:</label>
    <input type="text" name="nome" value="<%= cliente.nome %>" required><br>
    <label>CPF:</label>
    <input type="text" name="cpf" value="<%= cliente.cpf %>" required><br>
    <label>Endereço:</label>
    <input type="text" name="endereco" value="<%= cliente.endereco %>" required><br>
    <input type="submit" value="Alterar">
</form>
<%- include("partials/footer.ejs") %>