<%- include("partials/header.ejs") %>
<div class="container-page">
    <div class="content form-container">
        <h1>Cadastro de Clientes</h1>
        <form action="/clientes/new" method="post">
            <div class="form-groups">
                <label>Nome:</label>
                <input class="input-bigText" name="nome" type="text" placeholder="Digite seu Nome" required>
            </div>
            <div class="form-groups">
                <label>CPF:</label>
                <input class="input-bigText" name="cpf" type="text" placeholder="Digite seu CPF" required>
            </div>
            <div class="inline-fields">
                <label>Endereço:</label>
                <input class="input-mediumText" name="endereco" type="text" placeholder="Digite seu Endereço" required>
                <label>Bairro:</label>
                <input class="input-mediumText" name="bairro" type="text" placeholder="Digite seu Bairro" required>
            </div>
            <div class="inline-fields">
                <label>Cidade:</label>
                <input class="input-mediumText" name="cidade" type="text" placeholder="Digite sua Cidade" required>
                <label>Estado:</label>
                <select class="input-mediumText" name="estado" required>
                    <option value="" disabled selected>Selecionar Estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="form-groups">
                <label>Email:</label>
                <input class="input-bigText" name="email" type="text" placeholder="Digite seu Email" required>
            </div>
            <div class="form-groups">
                <label>Senha:</label>
            <input class="input-mediumText" name="senha" type="password" placeholder="Digite sua Senha" required>
            </div>
            <button class="form-button" type="submit">Cadastrar</button>
        </form>
    </div>
</div>
<div class="container-page">
    <table class="content">
        <thead>
            <th></th>
            <th>Nome:</th>
            <th>CPF:</th>
            <th>Endereço:</th>
            <th>Bairro:</th>
            <th>Cidade:</th>
            <th>UF:</th>
            <th>Email:</th>
            <th colspan="2">Ações:</th>
        </thead>
        <tbody>
            <% clientes.forEach((cliente) => { %>
            <tr>
                <td><img src="/images/cliente.png"></td>
                <td><%= cliente.nome %></td>
                <td><%= cliente.cpf %></td>
                <td><%= cliente.endereco %></td>
                <td><%= cliente.bairro %></td>
                <td><%= cliente.cidade %></td>
                <td><%= cliente.estado %></td>
                <td><%= cliente.email %></td>
                <td><a class="link edit" href="/clientes/edit/<%= cliente.id %>">Alterar</a></td>
                <td><a class="link delete" href="/clientes/delete/<%= cliente.id %>" onclick="return confirm('Deseja realmente deletar o cliente <%= cliente.nome %>?')">Excluir</a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include("partials/footer.ejs") %>