<%- include("partials/navbar.ejs") %> <hr>
<div></div>
<form action="/clientes/new" method="post">
    <label>Nome:</label>
    <input type="text" name="nome" placeholder="Digite o Nome" required><br>
    <label>CPF:</label>
    <input type="text" name="cpf" placeholder="Digite o CPF" required><br>
    <label>Endereço:</label>
    <input type="text" name="endereco" placeholder="Digite o Endereço" required><br>
    <input type="submit" value="Cadastrar">
</form>
<table>
    <thead>
        <th>Nome:</th>
        <th>CPF:</th>
        <th>Endereço:</th>
        <th>Ações:</th>
    </thead>
    <tbody>
        <% clientes.forEach((cliente) => { %>
        <tr>
            <td><%= cliente.nome %></td>
            <td><%= cliente.cpf %></td>
            <td><%= cliente.endereco %></td>
            <td><a class="table-link edit" href="/clientes/edit/<%= cliente.id %>">Alterar</a></td>
            <td><a class="table-link delete" href="/clientes/delete/<%= cliente.id %>">Excluir</a></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<hr>
<%- include("partials/footer.ejs") %>