<%- include("partials/header.ejs") %>

<form class="content" action="/pedidos/update" method="post">
    <input type="hidden" name="id" value="<%= pedido.id %>" required>
    <label>Número do Pedido:</label>
    <input type="text" name="numeroPedido" value="<%= pedido.numeroPedido %>" required><br>
    <label>Valor:</label>
    <input type="text" name="valor" value="<%= pedido.valor %>" required><br>
    <button type="submit" onclick="return confirm('Deseja realmente alterar o pedido <%= pedido.numeroPedido %>?')">Alterar</button>
</form>

<%- include("partials/footer.ejs") %>