<%- include("partials/header.ejs") %>
<div class="container-page">
    <div class="content form-container">
        <h1>Cadastro de Pedidos</h1>
        <form action="/pedidos/new" method="post">
            <div class="form-groups">
                <label>Número do Pedido:</label>
                <input class="input-smallText" name="numeroPedido" type="text" placeholder="Digite aqui" required>
            </div>
            <div class="form-groups">
                <label>Valor:</label>
                <input class="input-smallText" name="valor" type="text" placeholder="R$" required>
            </div>
            <button class="form-button" type="submit">Cadastrar</button>
        </form>
    </div>
</div>     
<div class="container-page">
    <table class="content">
        <thead>
            <th></th>
            <th>Número:</th>
            <th>Valor:</th>
            <th>Hora do Pedido:</th>
            <th>Hora de Entrega</th>
            <th colspan="2">Ações:</th>
        </thead>
        <tbody>
            <% pedidos.forEach((pedido) => { %>
            <tr>
                <td><img src="/images/pedido.png"></td>
                <td><%= pedido.numeroPedido %></td>
                <td><%= pedido.valor.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                <td><%= pedido.horaPedido %></td>
                <td>
                    <%= pedido.horaEntrega ? pedido.horaEntrega : '' %>
                    <% if (!pedido.horaEntrega) { %>
                        <a class="link edit" href="/pedidos/entregar/<%= pedido.id %>">Entregar</a>
                    <% } %>
                </td>
                <td><a class="link edit" href="/pedidos/edit/<%= pedido.id %>">Alterar</a></td>
                <td><a class="link delete" href="/pedidos/delete/<%= pedido.id %>" onclick="return confirm('Deseja realmente deletar o pedido <%= pedido.numeroPedido %>?')">Excluir</a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div> 
<%- include("partials/footer.ejs") %>