<%- include("partials/header.ejs") %>
<div class="container-page">
    <div class="content form-container">
        <h1>Cadastro de Produtos</h1>
        <form action="/produtos/update " method="post">
            <input type="hidden" name="id" value="<%= produto.id %>" required>
            <div class="form-groups">
                <label>Nome do Produto:</label>
                <input class="input-bigText" name="nomeProduto" type="text" value="<%= produto.nomeProduto %>" required>
            </div>
            <div class="form-groups">
                <label>Categoria:</label>
                <input class="input-mediumText" name="categoria" type="text" value="<%= produto.categoria %>" required>
            </div>
            <div class="inline-fields">
                <label>Preço:</label>
                <input class="input-smallText" name="preco" type="text" value="<%= produto.preco %>" required>
                <label>Estoque:</label>
                <input class="input-smallText" name="estoque" type="text" value="<%= produto.estoque %>" required>
            </div>
            <button class="form-button" type="submit" onclick="return confirm('Deseja realmente alterar o produto <%= produto.nomeProduto %>?')">Alterar</button>
        </form>
    </div>
</div>
<%- include("partials/footer.ejs") %>