<%- include("partials/header.ejs") %>

<form class="content" action="/produtos/update " method="post">
    <input type="hidden" name="id" value="<%= produto.id %>" required>
    <label>Nome do Produto:</label>
    <input type="text" name="nomeProduto" value="<%= produto.nomeProduto %>" required><br>
    <label>Categoria:</label>
    <input type="text" name="categoria" value="<%= produto.categoria %>" required><br>
    <label>Preço:</label>
    <input type="text" name="preco" value="<%= produto.preco %>" required><br>
    <label>Estoque:</label>
    <input type="text" name="estoque" value="<%= produto.estoque %>" required><br>
    <button type="submit" onclick="return confirm('Deseja realmente alterar o produto <%= produto.nomeProduto %>?')">Alterar</button>
</form>

<%- include("partials/footer.ejs") %>